# Eclipse
/.settings
/.*project

# Java
/.classpath
/.externalToolBuilders
*.class

# Java coverage
/jacoco
/jacoco.csv
/jacoco.exec

# Python
/build
/dist
/.cache
__pycache__
*.egg
*.egg-info
*.pyc

# Python coverage
/htmlcov
/.coverage

# other
/lib
