# Eclipse
/.settings
/.*project

# Java
/.classpath
/.externalToolBuilders
*.class

# Java: coverage
/jacoco
/jacoco.exec
/jacoco.xml

# OS: macOS
.DS_Store

# Python
/build
/dist
/.cache
__pycache__
*.egg
*.egg-info
*.pyc

# Python: coverage
/htmlcov
/.coverage

# other
/lib
