# Bintray deployment
/travis_bintray_descriptor_gen.py
/.bintray.json

# Eclipse
/.settings
/.*project

# Java
/.classpath
/.externalToolBuilders
*.class

# Java coverage
/jacoco
/jacoco.exec
/jacoco.xml

# Python
/build
/dist
/.cache
__pycache__
*.egg
*.egg-info
*.pyc

# Python coverage
/htmlcov
/coverage.xml
/.coverage

# other
/lib
